/*
  COLOR:
  light blue: #8e9efc
  medium blue: #5a73fc
  dark blue: #1c3eff
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
}

/* https://bennettfeely.com/clippy/ */
header {
  background-image: linear-gradient(
      to right bottom,
      rgba(142, 158, 252, 0.8),
      rgba(28, 62, 255, 0.8)
    ),
    url("../img/background1.jpg");
  height: 100vh;
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: ellipse(60% 60% at 50% 33%);
}

.logo-box {
  position: absolute;
  top: 30px;
  left: 30px;
}

.logo {
  height: 70px;
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.heading-primary__main {
  display: block;
  font-size: 62px;
  font-weight: 499;
  letter-spacing: 16px;
}

.heading-primary__sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 18px;
}

.btn,
.btn:link,
.btn:visited {
  text-decoration: uppercase;
  text-decoration: none;
  font-size: 16px;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  color: #777777;
  background-color: #fff;
}
